@import "./base.css";
body {
  height: 100%;
  display: flex;
  place-items: center;
}
#app {
  font-weight: normal;
  text-align: center;
  max-width: 1366px; /*  */
  padding: 2rem 0;
  margin: 0 auto;
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */
